* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#theme {
  display: none;
}

#theme:checked ~ .app {
  filter: invert();
}

.app {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.main {
  max-width: 1000px;
  margin: auto;
  width: 100%;
}

/* ******* Auth ******* */
@import url('./styles/auth.css');
@import url('./styles/loading.css');
@import url('./styles/toast.css');
